@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

#root {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --text: #000;
  --primary: #546c3c;
  --secondary: #1e49e0;
  --border: #e3e3e3;
  --background: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text);
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
